<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    
    <div class="container">
      <h1>Issue Tracker</h1>
      <h3 class="subtitle">Submit issue on <i>/apitest</i></h3>
      <form id="issue-submit-form" class="border">
        <input type="text" name="issue_title" placeholder="Title" required>
        <textarea id="issue-submit_issue_text" type="text" name="issue_text" placeholder="Tell us your issue..." required></textarea>
        <input type="text" name="created_by" placeholder="Created by" required>
        <input type="text" name="assigned_to" placeholder="Assigned to">
        <input type="text" name="status_text" placeholder="Status text">
        <button type="submit">Submit Issue</button>
        <code id="issue-submit-response"></code>
      </form><br>
      
      <h3 class="subtitle">Update issue on <i>/apitest</i></h3>
      <form id="update-issue-form" class="border">
        <input type="text" name="_id" placeholder="ID" required>
        <input type="text" name="issue_title" placeholder="Title">
        <textarea type="text" name="issue_text" placeholder="Tell us your issue..."></textarea>
        <input type="text" name="created_by" placeholder="Created by">
        <input type="text" name="assigned_to" placeholder="Assigned to">
        <input type="text" name="status_text" placeholder="Status text">
        <label><input type="checkbox" name="open" value="false"> Close issue</label>
        <button type="submit">Submit Issue</button>
        <code id="update-issue-response"></code>
      </form><br>
      
      <h3 class="subtitle">Delete issue on <i>/apitest</i></h3>
      <form id="delete-issue-form" class="border">
        <input id="delete-id" type="text" name="_id" placeholder="ID" required>
        <button type="submit">Delete Issue</button>
      </form>
      <code id="jsonResult"></code>
    </div>
    
    <script>
      issueSubmitForm = document.querySelector('#issue-submit-form')
      issueSubmitForm.addEventListener('submit', e => {
        e.preventDefault();
        
        let inputValues = {}
        Object.keys(issueSubmitForm.elements).forEach(key => {
          let element = issueSubmitForm.elements[key];
          if (element.type !== 'submit') {
            inputValues[element.name] = element.value;
          }
        });
        
        fetch('/api/issues/apitest', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  issue_title: inputValues['issue_title'],
                  issue_text: inputValues['issue_text'],
                  created_by: inputValues['created_by'],
                  assigned_to: inputValues['assigned_to'],
                  status_text: inputValues['status_text']
                })
        })
        .then(res => res.json())
        .then(data => {
          document.querySelector('#issue-submit-response').innerText = JSON.stringify(data)
        })
      })
        
      updateIssueForm = document.querySelector('#update-issue-form')
      updateIssueForm.addEventListener('submit', e => {
        e.preventDefault();
        
        let inputValues = {}
        Object.keys(updateIssueForm.elements).forEach(key => {
          let element = updateIssueForm.elements[key];
          if (element.type == 'checkbox' && element.checked) {
            inputValues[element.name] = element.value;
          } else if (element.type == 'checkbox' && !element.checked) {
            
          } else if (element.type !== 'submit') {
            inputValues[element.name] = element.value;
          }
        });
        
        fetch('/api/issues/apitest', {
               method: 'PUT',
               headers: {
                 'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                 _id: inputValues['_id'],
                 issue_title: inputValues['issue_title'],
                 issue_text: inputValues['issue_text'],
                 created_by: inputValues['created_by'],
                 assigned_to: inputValues['assigned_to'],
                 status_text: inputValues['status_text'],
                 open: inputValues['open']
               })
        })
        .then(res => res.json())
        .then(data => {
          document.querySelector('#update-issue-response').innerText = JSON.stringify(data)
        })
      })
      
      deleteIssueForm = document.querySelector('#delete-issue-form')
      deleteIssueForm.addEventListener('submit', e => {
        e.preventDefault();
        
        let id = document.querySelector('#delete-id').value;
        console.log(id)
        fetch('/api/issues/apitest', {
               method: 'DELETE',
               headers: {
                 'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                 _id: id
               })
        })
        .then(res => res.json())
        .then(data => {
          document.querySelector('#jsonResult').innerText = JSON.stringify(data)
        })
      })
   </script>
  </body>
</html>
