<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    
    <div class="container">
      <h1 id="projectTitle"></h1>
      <div id="submitNewIssue">
        <h3 class="subtitle">Submit a new issue:</h3>
        <form id="newIssue" method="post" action="/api/">
          <input type="text" name="issue_title" placeholder="Title" required>
          <textarea type="text" name="issue_text" placeholder="Text" required></textarea>
          <input type="text" name="created_by" placeholder="Created by" required>
          <input type="text" name="assigned_to" placeholder="Assigned to">
          <input type="text" name="status_text" placeholder="Status text">
          <button type="submit">Submit Issue</button>
        </form>
      </div>
      
      <div id="issueDisplay"></div>
    </div>
  
    <script>
      let currentProject = window.location.pathname.replace(/\//g, "");
      
      //GET request when page is loaded    
        document.querySelector('#projectTitle').innerText = 'All issues for: ' + currentProject
        
        fetch('/api/issues/' + currentProject)
        .then(res => res.json())
        .then(data => {
          let issues= [];
            data.forEach(ele => {
              let openStatus;
              (ele.open) ? openStatus = 'open' : openStatus = 'closed';
              var single = [
                '<div class="issue '+openStatus+'">',
                '<p class="id">id: '+ele._id+'</p>',
                '<h3>'+ele.issue_title+' -  ('+openStatus+')</h3>',
                '<br>',
                '<p>'+ele.issue_text+'</p>',
                '<p>'+ele.status_text+'</p>',
                '<br>',
                '<p class="id"><b>Created by:</b> '+ele.created_by+'  <b>Assigned to:</b> '+ele.assigned_to,
                '<p class="id"><b>Created on:</b> '+ele.created_on+'  <b>Last updated:</b> '+ele.updated_on,
                '<br><a href="#" class="closeIssue" id="'+ele._id+'">close?</a> <a href="#" class="deleteIssue" id="'+ele._id+'">delete?</a>',
                '</div>'
                
              ];
              issues.push(single.join(''));
            });
            document.querySelector('#issueDisplay').innerHTML = issues.join('');
        });
  
      //POST request from form
      let newIssueForm = document.querySelector('#newIssue')
      newIssueForm.addEventListener('submit', e => {
        e.preventDefault();
        
        let inputValues = {}
        Object.keys(newIssueForm.elements).forEach(key => {
          let element = newIssueForm.elements[key];
          if (element.type !== 'submit') {
            inputValues[element.name] = element.value;
          }
        });
        
        fetch('/api/issues/' + currentProject, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  issue_title: inputValues['issue_title'],
                  issue_text: inputValues['issue_text'],
                  created_by: inputValues['created_by'],
                  assigned_to: inputValues['assigned_to'],
                  status_text: inputValues['status_text']
                })
        })
        .then(res => res.json())
        .then(data => {
          //document.querySelector('#issueDisplay').innerText = JSON.stringify(data)
          window.location.reload(true);
        })
       });
      
      document.addEventListener('click', e => {
        if (e.target && e.target.className == 'closeIssue') {
      //PUT request - close issue
          let id = e.target.id;
          fetch('/api/issues/' + currentProject, {
                method: 'PUT',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  _id: id,
                  open: 'false'
                })
          })
          .then(res => res.json())
          .then(data => {
            alert(data);
            window.location.reload(true);
          })
        } else if (e.target && e.target.className == 'deleteIssue') {
          //DELETE request - delete issue
          let id = e.target.id;
          fetch('/api/issues/' + currentProject, {
                method: 'DELETE',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  _id: id
                })
          })
          .then(res => res.json())
          .then(data => {
            alert(data);
            window.location.reload(true);
          })
        }  
      });
   </script>
    
  </body>

</html>